<h1>Show Topic</h1>

<ul>

    <strong>Title:</strong>
    <%= @topic.title %>
  

  
    Content:
    <%= @topic.content %>
  

</ul>

<span><%= link "Edit", to: Routes.topic_path(@conn, :edit, @topic) %></span>
<span><%= link "Back", to: Routes.topic_path(@conn, :index) %></span>
